<div class="notice" style="padding:10px;display:none">
  У вас не сохраненные изменения <button>Перейти</button>
</div>
<nav class="navbar navbar-static-top navbar-inverse" ng-controller="MenuCtrl">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

      <ul class="nav navbar-nav">
        <li ng-repeat="menuitem in menuitems" class="dropdown open">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" ui-sref="{{menuitem.state}}">
            {{menuitem.title}} <span ng-if="menuitem.childs.length > 0" class="caret"></span>
          </a>

          <ul ng-if="menuitem.childs.length" class="dropdown-menu" role="menu">
            <li ng-repeat="subitem in menuitem.childs">
              <a ui-sref="{{subitem.state}}">{{subitem.title}}</a>
            </li>
          </ul>
        </li>



      </ul>

      <ul class="nav navbar-nav navbar-right" ng-if="userRole !== 'guest'">
        <li><a ui-sref="login({logout:true})">Выход</a></li>
      </ul>


    </div>
  </div>
</nav>

<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Внимание</h3>
    </div>
    <div class="modal-body">
      На странице есть несохраненные данные, вы действительно хотите продолжить?
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">Продолжить</button>
      <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
    </div>
  </script>
</div>
