<nav class="navbar navbar-static-top navbar-inverse" ng-controller="MenuCtrl">
  <div class="container-fluid">


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

      <ul class="nav navbar-nav">
        <li ng-repeat="menuitem in menuitems"><a ui-sref="{{menuitem.state}}">{{menuitem.title}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-if="userRole !== 'guest'">
        <li><a ui-sref="login({logout:true})">Выход</a></li>
      </ul>


    </div>
  </div>
</nav>
